# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# -----------------------
# Virtual environments
# -----------------------
.venv/
venv/
env/

# -----------------------
# Secrets
# -----------------------
.env
.env.*

# -----------------------
# IDE / Editors
# -----------------------
.vscode/
.idea/


# -----------------------
# Output / Data
# -----------------------
*.JSON
data/

# -----------------------
# Poetry
# -----------------------
poetry.lock
